cloth-segmentation/assets/
cloth-segmentation/imaterialist/
cloth-segmentation/input_images/
cloth-segmentation/results/
cloth-segmentation/logs/
cloth-segmentation/output_images/
cloth-segmentation/utils/__pycache__/
cloth-segmentation/data/__pycache__/
logs/training_cloth_segm_u2net_exp1/
cloth-segmentation/options/__pycache__/
cloth-segmentation/networks/__pycache__/
